@font-face {
  font-family: "iconfont"; /* Project id 2530425 */
  src: url('iconfont.woff2?t=1620316132624') format('woff2'),
       url('iconfont.woff?t=1620316132624') format('woff'),
       url('iconfont.ttf?t=1620316132624') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
  content: "\e66b";
}

.icon-glass:before {
  content: "\e732";
}

.icon-cap:before {
  content: "\e609";
}

.icon-gift:before {
  content: "\e685";
}

